services:
  showup-website:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "3002:3000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.showup-website.rule=Host(`showup.lifestyle`)"
      - "traefik.http.routers.showup-website.entrypoints=web"
      - "traefik.http.services.showup-website.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy-net"
networks:
  proxy-net:
    external: true
